.main {
    position: absolute;
    height: 99%;
    width: 99%;
    background-image: url("../assets/thunder_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #444;
    align-items: center;
}

.input-holder {
    margin: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.input-holder input {
    border: solid 2px;
    border-radius: 4px;
    text-align: center;
}