.main {
    position: absolute;
    height: 99%;
    width: 99%;
    background-image: url("../assets/thunder_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #444;
    align-items: center;
}

