.input-holder {
    margin: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.input-holder input {
    border: solid 2px;
    border-radius: 4px;
    text-align: center;
}

#search {
    width: 20px;
    height: 20px;
}

button {
    opacity: .5;
    border: 0;
    border-radius: 5px;
}
.weather-initial {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.weather { 
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-align: center;
}

.weather-box {
    min-width: 150px;
    border: solid 2px;
    border-radius: 10px;
    background-color: #777;
}